* {
    color: #fff !important;
}

@font-face {
    font-family: gamefont;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2);
}

*::-webkit-scrollbar {
    display: none;
}

a {
  background-color: rgb(0, 0 ,40 , 10%) !important;
  box-shadow: none !important;
  color: white;
  cursor: pointer;
  position: relative;

}
a:hover {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: 0.2s;
  margin-bottom: 10px;  
}

a::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 3px solid transparent;
}
a:hover::before {
    animation: animate 0.2s linear forwards;
}

a::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 3px solid transparent;
}
 
a:hover::after {
    animation: animates 0.3s linear forwards;
    z-index: -1;
}


a:active {
    color: #2196f3;
}

a:visited {
    color: #2196f3;
}

:root {
  --theme: rgb(0, 0 ,40 , 70%);
}

.headerBar {
    background: rgba(0, 0, 0, 00);
    box-shadow: inset 120px 0 120px #0a054ea6, inset -60px 0 120px #00ffff1f;

}

.iconShop{
}

.iconSettings { 
	background-image:url(https://cdn.discordapp.com/attachments/809026786079277086/831466081062879240/911-9117890_zen-transparent-image-zen-circle-transparent.png); 

}

.{
  	background-image:url(https://cdn.discordapp.com/attachments/809026786079277086/831466081062879240/911-9117890_zen-transparent-image-zen-circle-transparent.png); 
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: #40e0d0;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
 
    50% {
        width: 100%;
        height: 0;
        border-top-color: #40e0d0;
        border-right-color: #40e0d0;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
 
    100% {
        width: 100%;
        height: 100%;
        border-top-color: #40e0d0;
        border-right-color: #40e0d0;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}
@keyframes animates {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #40e0d0;
    }
 
    50% {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #40e0d0;
        border-left-color: #40e0d0;
    }
 
    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #40e0d0;
        border-left-color: #40e0d0;
    }
}



#mainLogo {
    height: 200px;
    background-color: rgba(255,255,255, 0.5);
    transform: scale(0.8);
    content: url(https://cdn.discordapp.com/attachments/830001716791345182/831511969289994280/zen.png);
    transition: 0.3s;
    border-radius: 20px;
}

.menuItem {
    background: rgb(0, 0 ,100 , 15%);
    box-shadow: inset 60px 0 120px #ff00ff1c, inset -60px 0 120px #00ffff1f;
    width: 150px;
    margin-left:  -15px;
    padding-left: 10px;
    margin-bottom: 15px;
    border-radius: 10px;

}
.menuItem:hover {
    background: rgb(0, 0 ,40 , 100%);
    box-shadow: inset 60px 0 120px #ff00ff1c, inset -60px 0 120px #00ffff1f;
    width: 150px;

}

.headerBarRight {
    opacity: 1;
}

#merchImg {
    display: none;
}

#gameUI {
    opacity: 0.7;

}

.onMenu #instructions {
    content:url(https://cdn.discordapp.com/attachments/809026786079277086/831466081062879240/911-9117890_zen-transparent-image-zen-circle-transparent.png); 
    transform: scale(0.6)translateX(-700px)translateY(-575px);

}

#menuWindow {
    transition: 0.3s;
    max-height: 500px;
    background-color: rgba(0,0,40, 0.5);
    box-shadow: 0 0 4px 2px #00FFFF;
    transition: 0.4s;
}
#menuWindow:hover {
    max-height: 500px;
    background-color: rgba(0,0,40, 0.5);
    box-shadow: 0 0 4px 4px #00FFFF;
}

.settName, .settNameSmall {
    color: rgba(255,255,255,1);
}

.settName.b {
    color: var(--theme) !important;
}

#menuWindow div[style="color:rgba(0,0,0,0.3);margin-top:-5px;margin-bottom:10px"] {
    display: none;
}

#menuWindow [style*="rgba(0,0,0,0.3)"], #menuWindow [style*="rgba(0,0,0,0.4)"], #menuWindow [style*="rgba(0,0,0,0.5)"], #menuWindow [style*="rgba(0,0,0,0.8)"]  {
    color: rgba(255,255,255,1) !important;
}


#menuWindow [style*="rgba(0,0,0,0.3)"], #menuWindow [style*="rgba(0,0,0,0.4)"], #menuWindow [style*="rgba(0,0,0,0.5)"], #menuWindow [style*="rgba(0,0,0,0.8)"]  {
    color: rgba(255,255,255,1) !important;
}


#menuWindow [style*="#000"] {
    color: #ffffff !important;
}

#menuWindow [style="color:#2196F3"] {
    color: #ffffff !important;
}

.floatR span[style="color:rgba(0,0,0,0.5)"] {
    color: #ffffff !important;
}

.menuTabNew {
    color: #fff;
}

#menuWindow [style*="rgba(0,0,0,0.6)"] {
    color: #fff !important;
}

#settName {
    color: #fff
    z-index:9999999;
    opacity: 1;
}

/* MENU CLASS */

#menuClassContainer {
    opacity: 1;
    position: fixed;
    z-index: 999999;
}

#customizeButton {
    backdrop-filter: blur(3);
    font-size: 10 !important;
    background-color: transparent !important;
    box-shadow: none !important;
    opacity: 1;
    z-index: ;
}
#customizeButton .material-icons {
    display: none;
}

#menuClassContainer {
    opacity: 1;
    position: fixed;
    left: 60%;
    bottom: 0%;
    transform: scale(1);
    z-index: 999999;
    transition: 0.5s;
}

#menuClassContainer:hover {
    opacity: 1;
    position: fixed;
    left: 60%;
    bottom: 0%;
    transform: scale(1.2);
    z-index: -1;
}

/* MENU CLASS END */
 
.button {
  backdrop-filter: blur(3);
  background-color: rgb(0, 0 ,40 , 10%) !important;
  box-shadow: none !important;
  color: white;
  border: 2px solid #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: 0.2s;
  opacity: 0.9;
  -moz-box-shadow: 5px 15px 5px 0px #000;
  -webkit-box-shadow: 5px 15px 5px 0px #000;
  box-shadow: 5px 15px 5px 0px #000;
  margin-bottom: 10px;

}
.button:hover {
  background-color: rgb(0, 0 ,40 , 100%) !important;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: 0.2s;
  transform: scale(1);
  -moz-box-shadow: 5px 15px 5px 0px #000;
  -webkit-box-shadow: 5px 15px 5px 0px #000;
  box-shadow: 5px 15px 5px 0px #000;
  margin-bottom: 10px;  
}

.button::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 6px solid transparent;
}
 
.button:hover::before {
    animation: animate 0.3s linear forwards;
}

.button::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 6px solid transparent;
}
 
.button:hover::after {
    animation: animates 0.3s linear forwards;
    background-color:rgb(0, 0 ,40 , 100%);
    z-index: -1;
}

.classCard {
    background-color: rgba(255,255,255,0.15);
    border-radius: 8px;
    height: 228px;
    line-height: 28px;
    transition: 0.5s;
}

.classCard:hover {
    background-color: rgba(0,0,0,0.4);
}


.classCard::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 6px solid transparent;
}
 
.classCard:hover::before {
    animation: animate 1s linear forwards;
}

.classCard::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 6px solid transparent;
}
 
.classCard:hover::after {
    animation: animates 1s linear forwards;
}

#killStreakHolder {
    position: fixed;
    right: 48.54%;
    bottom: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
}


.mailText, .mailObj, #mailList {
	color: var(--theme) !important;
}

#itemSearch {
	background-color:var(--theme);
	color: white;
}

/*CHAT*/

#uiBase.onMenu #chatHolder {
  transform: translate(70px, -30px) scale(1.2);
}


#chatList {
    text-align: left;
}

.chatItem {
    color: #fff !important;
    font-size: 16px;
    width: -webkit-fill-available;
    margin: 0px;
    background-color: rgba(0,0,0,0.3) !important;
    border-radius: 0;
}

#chatInput {
    text-align: left;
    background-color: transparent;
}

#chatInput:focus {
    text-align: left;
    background-color: var(--theme);
}
/*END OF CHAT*/

/*Main menu*/

#gameNameHolder:hover #mainLogo {
    content: url(https://cdn.discordapp.com/attachments/809027019899666462/831462363835269140/modlogo_3.png);
    transform: scale(0.7);
}

#gameNameHolder {
    pointer-events: all;
}


#seasonLabel {
    transform: rotate(0);
    margin-left: 450px;
    margin-top: -150px;
    
}

/*Headers*/

.headerBar {
    background-color: transparent;
    transform: scale(1);
}

#mailIcon {
}

#mLevelCont {
   transform:scale(1.3);
   background-color: var(--theme);

}

.progressBarInner {
    background-image: linear-gradient(red, yellow);
}

#tlInfHold {
  left: 200px;
  top: 100px;
}

#youNewDiv {
    display: none;
}

#streamContainer {
    left: 20px;
    width: auto;
    height: 400px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    transition-duration: 0.5s;
}

#spectButton .switchsml {
}

.sliderSml::before {
    content: "Spectate";
    font-size: 10px;
    color: white;
    width: max-content;
    height: auto;
    background-color: transparent;
    text-align: center;
    transition-duration: 0.25s;
    margin: auto;
    transform: translateY(-30px);
   transform: translateY(-200px)scale(2);
}

input:checked+.sliderSml::before {
   content: "Spectating";
   transform: translateY(-200px)scale(2);
}

input:checked+.sliderSml {
    background-color: transparent !important;
}

.sliderSml {
    background-color: transparent;
}

#spectButton {
  width: 0px;
  height: 0px;
  background-color: rgb(0, 0 ,40 , 10%) !important;
  box-shadow: none !important;
  color: white;
  position: absolute;
  border: 2px solid #fff;
  cursor: pointer;
  z-index: 0;
  margin-left: 925px;
  margin-bottom: 400px;
  transition: 0.2s;
  transform: scale(1)translateY(-200px)translateX(100px);
  opacity: 0.9;

}
/* END OF HEADER */

/*ACC*/

.accountInput {
    color: #fff;
}
.accountButton {
  width: 200px;
  box-shadow: none !important;
  border: 2px solid #fff;
  cursor: pointer;
  z-index: 0;
  transition: 0.2s;
  transform: scale(1);

}

.accountButton:hover {
  background-color: rgb(0, 0 ,40 , 100%) !important;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: 0.2s;
  transform:scale(1);
  -moz-box-shadow: 5px 15px 5px 0px #000;
  -webkit-box-shadow: 5px 15px 5px 0px #000;
  box-shadow: 5px 15px 5px 0px #000;
  margin-bottom: 10px;  
}

.accountButton::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 6px solid transparent;
}
 
.accountButton:hover::before {
    animation: animate 0.3s linear forwards;
}

.accountButton::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 6px solid transparent;
}
 
.accountButton:hover::after {
    animation: animates 0.3s linear forwards;
    background-color:rgb(0, 0 ,40 , 100%);
    z-index: -1;
}


/* END OFF ACC*/

/* LOADOUT */


/* END OF LOADOUT */


.quickJoin {
  box-shadow: none !important;
  border: 2px solid #fff;
  cursor: pointer;
  z-index: 0;
  transition: 0.2s;
  transform:scale(1);

}

.quickJoin:hover {
  background-color: rgb(0, 0 ,40 , 100%) !important;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: 0.2s;
  transform:scale(1.1);
  -moz-box-shadow: 5px 15px 5px 0px #000;
  -webkit-box-shadow: 5px 15px 5px 0px #000;
  box-shadow: 5px 15px 5px 0px #000;
  margin-bottom: 10px;  
}

.quickJoin::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 6px solid transparent;
}
 
.quickJoin:hover::before {
    animation: animate 0.3s linear forwards;
}

.quickJoin::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 6px solid transparent;
}
 
.quickJoin:hover::after {
    animation: animates 0.3s linear forwards;
    background-color:rgb(0, 0 ,40 , 100%);
    z-index: -1;
}

#pingDisplay .material-icons, #ingressDisplay .material-icons, #egressDisplay .material-icons {
    font-size: 24px;
}

#pingIcon {
    color: var(--theme) !important;
}


#timerDisplay {
 transform: scale(1.2);
}

#timerIcon {
  display: none;

}

#victorySub {
    content: "VICTORY";
}


.matchVote {
  box-shadow: none !important;
  border: 2px solid #fff;
  cursor: pointer;
  z-index: 0;
  transition: 0.2s;
  transform: scale(1);

}

.matchVote:hover {
  background-color: rgb(0, 0 ,40 , 100%) !important;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: 0.2s;
  transform:scale(1.1);
  -moz-box-shadow: 5px 15px 5px 0px #000;
  -webkit-box-shadow: 5px 15px 5px 0px #000;
  box-shadow: 5px 15px 5px 0px #000;
  margin-bottom: 10px;  
}

.matchVote::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 6px solid transparent;
}
 
.matchVote:hover::before {
    animation: animate 0.3s linear forwards;
}

.matchVote::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 6px solid transparent;
}
 
.matchVote:hover::after {
    animation: animates 0.3s linear forwards;
    background-color:rgb(0, 0 ,40 , 100%);
    z-index: -1;
}



#leaderDisplay {
    background-color: rgba(0,0,0,0.2) !important;
}



#killStreakHolder {
    position: fixed;
    right: 48.54%;
    bottom: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.killStreakItem {
}

/*SETTINGS */


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00FFFF;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 6px
}

.sliderM::-webkit-slider-thumb {
  background-color: white;
  border-radius: 0;
  width: 25px;
}

.sliderM::-webkit-slider-thumb:hover {
  background-color: #00FFFF;
  border-radius: 0;
  width: 25px;
}

.sliderVal {
  background-color: #00FFFF;
    color: #000000;
    border-radius: 0;
}

.switch {
  background-color: white;
  transition: 0.3s;
    width: 70px;
}

.slider {
    border-radius: 0;
}

input:checked+.slider {
    background-color: var(--theme);
}


.switch:hover {
  background-color: rgb(0, 0 ,40 , 100%) !important;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: 0.2s;
  transform:scale(0.9);
  -moz-box-shadow: 5px 15px 5px 0px #000;
  -webkit-box-shadow: 5px 15px 5px 0px #000;
  box-shadow: 5px 15px 5px 0px #000;
  margin-bottom: 10px;  
}

#newsHolder {
    pointer-events: all;
    width: 275px;
    height: 200px;
    padding: 10px;
    overflow-y: scroll;
    z-index: 20;
    position: absolute;
    right: 14px;
    top: 86px;
    text-align: left;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgba(0,0,0,.5)
}

/*SEARCH*/
#itemSearch {
    background-color: var(--theme);
}
#itemSearch:focus {
    background-color: white;
}


#itemSearchH {
    width: 100%;
    padding-top: 19px;
    position: sticky;
    top: -2px;
    z-index: 999999999;
    background-color: var(--theme);
}



#serverSearch {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: var(--theme);
    border-radius: 4px;
    font-size: 18px
}


#serverSearch:focus {
    color: black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color:white;
    border-radius: 4px;
    font-size: 18px
}

.serverHeader {
    width: 100%;
    padding-top: 19px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999999999;
    background-color: rgba(0,0,40,0.1);
}


#settSearch {
    color: white;
    width: 100%;
    text-align: left;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    background-color: var(--theme);
    border-radius: 4px;
    padding: 6px 10px 5px
}


#settSearch:focus {
    color: black;
    width: 100%;
    text-align: left;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    background-color: white;
    border-radius: 4px;
    padding: 6px 10px 5px
}

.settingsHeader {
    width: 102.5%;
    z-index: 999999999;
    background-color: rgba(0,0,40, 1);
}
#settingsTabLayout {
    font-size: 16px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-top: 18px;
    text-align: center;
    background-color: var(--theme);
    border-radius: 6px
}

.settingsBtn {
    color: black(255,255,255,1);
    text-align: center;
    display: inline-block;
    width: 75px;
    cursor: pointer;
    background-color: var(--theme);
    font-size: 17px;
    padding: 4px 8px;
    margin-left: 8px;
    float: right;
    border-radius: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
.settingsBtn:hover {
  background-color: #00FFFF !important;
  color: black;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: 0.2s;
  transform: scale(1);
}

.settingTab:hover {
    transition: 0.5s;
    border-bottom: 5px solid #00FFFF
}

.discordSocial {
    background-image: url(../img/social-buttons/discord-normal.png)
}

.discordSocial:hover {
    background-image: url(../img/social-buttons/discord-hover.png)
}

.discordSocial:active {
    background-image: url(../img/social-buttons/discord-pressed.png)
}

.downloadClient {
    background-image: url(../img/social-buttons/down_normal.png)
}

.downloadClient:hover {
    background-image: url(../img/social-buttons/down_hover.png)
}

.downloadClient:active {
    background-image: url(../img/social-buttons/down_pressed.png)
}

.redditSocial {
    background-image: url(../img/social-buttons/reddit-normal.png)
}

.redditSocial:hover {
    background-image: url(../img/social-buttons/reddit-hover.png)
}

.redditSocial:active {
    background-image: url(../img/social-buttons/reddit-pressed.png)
}

.twitterSocial {
    background-image: url(../img/social-buttons/twitter-normal.png)
}

.twitterSocial:hover {
    background-image: url(../img/social-buttons/twitter-hover.png)
}

.twitterSocial:active {
    background-image: url(../img/social-buttons/twitter-pressed.png)
}

.fandomSocial {
    background-image: url(../img/social-buttons/fandom-normal.png)
}

.fandomSocial:hover {
    background-image: url(../img/social-buttons/fandom-hover.png)
}

.fandomSocial:active {
    background-image: url(../img/social-buttons/fandom-pressed.png)
}

/* This is the add kr button */
.krSocial {
    text-align: center;
    line-height: 24px;
    width: 27px;
    height: 32px;
    margin-left: 6px;
    margin-bottom: 0;
    background-color: red;
    color: #fff;
    font-size: 15px;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    text-shadow: -1px -1px 0 #202020,1px -1px 0 #202020,-1px 1px 0 #202020,1px 1px 0 #202020,-2px -2px 0 #202020,2px -2px 0 #202020,-2px 2px 0 #202020,2px 2px 0 #202020;
    box-shadow: inset 0 -5px 0 0 #992b2b;
    -webkit-transition: .1s;
    transition: .1s
}

.krSocial:hover {
    background-color: #fff;
    -webkit-transform: scale(.7);
    transform: scale(.7)
}
/* end */

/* DROPPERS */
#menuServerInfoContainer {
    display: inline-block;
    flex-direction: column;
    align-items: flex-end;
}

.hostMapBy{
  display: none;
}

.hostMapYear{
  display: none;
}

.hostMapVersion{
  display: none;

}

.hostMapImg {
    filter: brightness(0.4);
}

.hostToggle{
background-color: #00FFFF;
color: black;
transition: 0.2s;
}

.hostToggle:hover{
background-color: #00FFFF;
color: black;
transform: scale(1.2);
}

.advancedToggle {
background-color: #00FFFF;
color: black;
transition: 0.2s;
}

.advancedToggle:hover {
  margin: auto;
background-color: #00FFFF;
color: black;
transform: scale(1.2);
}

.hostMapImg:hover {
    filter: brightness(1);
    transform: scale(3);
    text-align: center;
}

.hostOpt {
  transition: 0.2s;
  text-align: center;
    
}
.hostOpt:hover {
  border: 5px solid #00ffff;
    transform: scale(1.1);
}

/* IN GAME */

#ammoDisplay {
  opacity: 1;
    background-color: rgba(0,0,40, 1) !important;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    bottom:5%;
    left: 50%;
    justify-content: center;
    text-align: center;
}
#ammoMax {
  opacity: 1;
    color: white;
    display: inline-block;
}

#ammoVal {
  opacity: 1;
    color: white;
    display: inline-block;
}
#ammoIcon{display: none;}

.weapIcon{
    filter: sepia(100%); 

  filter: brightness(1);
}

.weapIcon:not([style*="1"]) {
  bottom: 20px !important;
    opacity: 0 !important;
}

.weapKey{
  display: none;
}